
.layout-padding
    padding:15px;
 .fip
    padding:11px 0px;
.dtHeight
    height:40px;
.has-error
    border-bottom:1px solid red;
.errMsg
    font-size:11px;
    color:red;
#container {
    display: flex;          
    flex-direction: column;  
    justify-content: center; 
    align-items: center;    
    height: 500px;
}

.box {
    width: 460px;
    margin: 5px;
      
}
.listCol{
    border-right:1px solid #efefef;
    padding-left:7px;
}
.listCol:last-child{
    border-right:none
}

table.greyGridTable {
  border: 1px solid #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #ddd;
  padding: 10px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}

.rows6{
    width:50%;
    float:left;
    padding:15px 5px
}
.rows12{
    width:100%;
    padding:15px 5px
}
.responsive {
    width: 100%;
    height: auto;
}
@media print {
    @page {
        size: 210mm 297mm;
    }
  body * {
    visibility: hidden;
    font-size:12px;
  }
  
  #yazdirAlani, #yazdirAlani * {
    visibility: visible;
  }
  #yazdirAlani {
    position: absolute;
    left: 0;
    top: 0;
    width:960px;
  }
  .rows12
  { 
    padding :5px;
    width:100%;
    float:left;
  }
  .rows6{
      padding : 5px;
      width:50%;
      float:left;
  }


}

@media screen and (max-width: 1024px) {
  .box {
    width:99%;
  }
  .dtHeight{
    height:60px;
  }
  .rows6{
    width:100%;
    }
}
